<%- include ("partials/header") %>
<body>
  <%- include ("partials/navbar") %>
    <div class="container1">
      <img id="image" src="/leaves.jpg" width="193" height="300" />
      <br />
      <label id="label3" class="ml-4 my-2">Leaves of Grass</label>
      <br />
      <button
        onclick="location.href = '/leaves';"
        id="leaves"
        class="btn btn-secondary ml-3 item"
      >
        View
      </button>
    </div>
    <div class="container3">
      <img id="image" src="/sun.jpg" width="193" height="300" />
      <br />
      <label id="label4" class="ml-4 my-2">The Sun and Her Flowers</label>
      <br />
      <button
        onclick="location.href = '/sun';"
        id="sun"
        class="btn btn-secondary ml-3 item"
      >
        View
      </button>
    </div>
  </body>
</html>
