<%- include ("partials/header") %>
  <body>
    <%- include ("partials/navbar") %>
    <div class="container">
      <% if (success.length!=0) {%>
      <div class="alert alert-success mb-1 mr-4" id="c1" style="width: 350px;"" role="alert">
        <%= success %>
      </div>
      <%}%>
      <h1>Welcome</h1>
    </div>
    <div class="parent-Container">
    <div class = "mainContainer">
      <div class="homeView">
        <div class="img-view">
          <img id="image" src="/phones.png"/>
        </div>

        <h3>Phones</h3>
        <button
          onclick="location.href = '/phones';"
          id="phones"
          class="btn btn-secondary"
        >
          View
        </button>
      </div>
      <div class="homeView">
        <div class="img-view">
          <img id="image" src="/books.png"/>
        </div>
        <h3>Books</h3>
        <button
          onclick="location.href = '/books';"
          id="books"
          class="btn btn-secondary"
        >
          View
        </button>
      </div>
      <div class="homeView">
        <div class="img-view">
          <img id="image" src="/sports.png"/>
        </div>

        <h3>Sports</h3>
        <button
          onclick="location.href = '/sports';"
          id="sports"
          class="btn btn-secondary">
          View
        </button>
      </div>

      </div>
    <div class="btn-Views">
      <div class="cart2">
        <button
          onclick="location.href = '/cart';"
          id="cart"
          class="btn btn-secondary"
          style="width: 300px"
        >
          View Cart
        </button>
      </div>
      <div class="cart3">
        <form method="post"
        action="/logout">
        <button
          id="logout"
          class="btn btn-danger b3"
          style="width: 300px"
          type="submit"
        >
          Logout
        </button>
        </form>
      
      </div>
    </div>
  </div>
  </body>
</html>
