<%- include ("partials/header") %>
  <body class="loginBody">
    <div class="container">
      <h1 class="loginH1" >Welcome</h1>
      <% if (error.length!=0) {%>
      <div class="alert alert-danger cont2 col-3" role="alert">
        <%= error %>
      </div>
      <%}%>
    </div>
    <div class="cont4">
      <form method="POST" class="needs-validation" novalidate>
        Username:<br />
        <div class="col-2 m-0 p-0">
          <input type="text" name="username" class="form-control" required />
          <br />
        </div>
        Password:<br />
        <div class="col-2 m-0 p-0">
          <input
            type="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <br />
        <input type="submit" value="Login" />
      </form>
      <br />
      <a href="registration">I dont have an account</a>
    </div>

    <script>
      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
