<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url("background1.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
      }
      h1 {
        color: white;
        text-align: center;
        -webkit-text-stroke: 1px black;
      }
      .cont {
        position: relative;
        left: 575px;
        top: 50px;
        color: white;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <h1>Welcome</h1>
    </div>
    <div class="cont">
      <form method="POST" class="needs-validation" novalidate>
        Username:<br />
        <div class="col-2 m-0 p-0">
          <input type="text" name="username" class="form-control" required />
          <br />
        </div>
        Password:<br />
        <div class="col-2 m-0 p-0">
          <input
            type="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <br />
        <input type="submit" value="Login" />
      </form>
      <br />
      <a href="registration">I dont have an account</a>
    </div>

    <script>
      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
