<%- include ("partials/header") %>
  <body class="regBody">
    <div class="container">
      <h1>Registration</h1>
      <% if (error.length!=0) {%>
      <div class="alert alert-danger cont2 col-3" role="alert">
        <%= error %>
      </div>
      <%}%>
    </div>
    <div class="cont">
      <form
        method="post"
        action="/register"
        class="needs-validation"
        novalidate
      >
        Username: <br />
        <div class="col-2 m-0 p-0">
          <input
            type="text"
            id="user"
            name="username"
            class="form-control"
            required
            minlength="3"
            maxlength="50"
          />
          <div class="valid-feedback">Looks Good</div>
          <div class="invalid-feedback" id="user">
            Please Enter a Valid Username (min: 3 characters ~ max: 50
            characters)!
          </div>
        </div>
        <br />
        Password: <br />
        <div class="col-2 m-0 p-0">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            required
            minlength="6"
            maxlength="50"
          />
          <div class="invalid-feedback" id="password">
            Please Enter a Valid Password (min: 6 characters ~ max: 50
            characters)!
          </div>
        </div>
        <br />
        <input
          type="submit"
          id="simple_click"
          class="btn btn-secondary"
          value="Register"
        />
        <br />
      </form>
    </div>

    <script>
      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
