<%- include ("partials/header") %>
  <body>
    <%- include ("partials/navbar") %>
    <div class="container1">
      <img id="image" src="/tennis.jpg" width="193" height="300" />
    </div>
    <div class="container2">
      2021 New Professional-grade Wilson 1Pc Hend Carbon Fiber Tennis Racket.
    </div>
    <div class="cart">
      <button
        id="cart"
        onclick="<%=x('Tennis Racket', currUser)%>"
        class="btn btn-secondary ml-3"
      >
        Add to Cart
      </button>
    </div>
    <div class="video">
      <video width="480" height="360" controls>
        <source src="/tennis.mp4" />
      </video>
    </div>
  </body>
</html>
