body {
  background-image: url("background3.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}
.regBody {
  background-image: url("background2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.loginBody {
  background-image: url("background1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.loginH1 {
  color: white;
  text-align: center;
  -webkit-text-stroke: 1px black;
}
h1 {
  color: white;
  text-align: center;
  margin-top: 3%;
  -webkit-text-stroke: 1px blue;
}

.mainContainer {
}

.homeView {
  position: relative;
  width: 300px;
  height: 400px;
  box-shadow: 0px 4px 6px 0px rgba(80, 74, 75, 0.781),
    0px 10px 12px 0px rgba(0, 0, 0, 0.19);
  margin: 50px;
  border-radius: 4px;
  padding-top: 80px;
  background-color: rgba(80, 74, 74, 0.26);
  display: block;
  margin-top: 20%;
}

.img-view {
}
.homeView img {
  width: 100%;
}

.homeView h3 {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.homeView button {
  position: relative;
  width: 70%;
  left: 15%;
  height: 40px;
  outline: unset;
  margin-top: 50px;
}

.container1 {
  position: fixed;
  left: 50px;
  top: 150px;
  color: white;
}
.container2 {
  position: fixed;
  left: 300px;
  top: 150px;
  color: white;
  width: 300px;
  text-align: justify;
  text-justify: inter-word;
}
.container3 {
  position: fixed;
  left: 300px;
  top: 150px;
  align-items: center;
  color: white;
}

.container4 {
  position: fixed;
  left: 350px;
  top: 150px;
  color: white;
}
.container5 {
  position: fixed;
  left: 200px;
  top: 150px;
  color: white;
}
.cont {
  position: relative;
  left: 600px;
  top: 50px;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

.cont2 {
  position: relative;
  left: 420px;
  top: 30px;
}
.cont3 {
  position: relative;
  left: 600px;
  top: 50px;
  color: white;
  -webkit-text-stroke: 0.5px black;
}
.cont4 {
  margin-top: 6%;
  color: black;
  -webkit-text-stroke: 0.5px black;
  margin-left: 40%;
  margin-right: 50%;
  width: 100em;
}

.video {
  position: fixed;
  left: 700px;
  top: 150px;
  color: white;
  width: 300px;
  text-align: justify;
  text-justify: inter-word;
}
.cart {
  position: fixed;
  left: 30px;
  top: 470px;
}
#cart:hover {
  background-color: rgba(137, 186, 114, 0);
  color: white;
  outline: white;
  outline-style: double;
}
/* 
.btns-Views {
  position: absolute;
  width: 100px;
  height: 150px;
  left: 500px;
  height: 500px;
} */
.cart2 {
  margin-top: 38%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.cart3 {
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.b3:hover {
  background-color: rgba(137, 186, 114, 0);
  color: rgb(160, 57, 57);
  outline: rgb(160, 57, 57);
  outline-style: double;
}
#my {
  zoom: 110%;
}

#label1 {
  position: relative;
  right: -50px;
}
#label2 {
  position: relative;
  right: 0px;
}
#label3 {
  position: relative;
  right: -15px;
}

#label4 {
  position: relative;
  right: 18px;
}
.item {
  position: relative;
  left: 50px;
}
.item:hover {
  background-color: rgba(137, 186, 114, 0);
  color: white;
  outline: white;
  outline-style: double;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  color: aliceblue;
}

.res:hover {
  color: rgb(137, 186, 114);
}

#phones:hover {
  background-color: rgba(137, 186, 114, 0);
  color: white;
  outline: white;
  outline-style: double;
}
#sports:hover {
  background-color: rgba(137, 186, 114, 0);
  color: white;
  outline: white;
  outline-style: double;
}
#books:hover {
  background-color: rgba(137, 186, 114, 0);
  color: white;
  outline: white;
  outline-style: double;
}
#c1 {
  margin-left: 35%;
  margin-right: 50%;
  margin-top: 2%;
}
